*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    --content-primary:#080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;

    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    --font-family: "Inter", sans-serif;

    --title: 700 1.5rem/200% var(--font-family);
    --label: 600 1rem/125% var(--font-family);
    --paragraph: 500 1rem/125% var(--font-family);
    --link: 500 0.875rem/100% var(--font-family);
}

body{
    margin-inline: 370px;
    background-color: var(--background-primary);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;

    font: 600 1rem/40% var(--font-family);

    margin-top: 25px;
    margin-bottom: 62px;
}

main h2{
    font: var(--title);
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px; 
    margin-block: 30px;

    & input{
        font: 400 1rem/140% var(--font-family);
        color: var(--content-tertiary);
        background-color: var(--background-secondary);
        border: 2px solid var(--border-primary);
        border-radius: 12px;
        width: 70%;
        max-height: 44px;
        padding-left: 18px;
        padding-block: 11px;
    }

    & input:hover{
        border-color: var(--border-hover);
    }

    & input:focus{
        border-color: var(--color-brand);
        color: var(--content-primary);
        outline: none;
    }

    & button{
        font: var(--label);
        color: #FFFFFF;
        width: 30%;
        height: 44px;
        background-color: var(--color-brand);
        border: none;
        border-radius: 12px;
        cursor: pointer;
    }

    & button:hover{
        background-color: var(--color-brand-hover);
    }
}

.rollback{

    & a{
        font: var(--link);
        color: var(--color-brand);
        text-decoration: none;
    }

    margin-right: auto;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 36px;
}

li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 49px;

    background-color: var(--background-secondary);
    border-radius: 12px;
    padding: 8px 12px;
    font: var(--paragraph);

    & img{
        margin-left: auto;
        cursor: pointer;
    }
}

.checkboxDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    position: relative;

    .checkbox-img{
        width: 1rem;
        height: 1rem;
        background-image: url(../assets/icons/checkbox.svg);
    }

    &:hover, &:focus-within{
        background-image: url(../assets/icons/checkboxHover.svg);
    }

    &:has(:checked) .checkbox-img{
        background-image: url(../assets/icons/checkboxSelected.svg)
    }

    & input,
        & input:focus,
        & input:hover {
            position: absolute;
            inset: 0;
            opacity: 0;
        }
}

.finishItem{
    text-decoration: line-through;
}

.removeAlertHidden{
    display: none;
}

.removeAlertVisible{
    display: flex;
    gap: 8px;

    font: var(--label);
    color: #FFFFFF;
    background-color: var(--color-danger);
    height: 44px;
    width: 100%;
    padding: 12px;
    border-radius: 12px;

    & h3 + img {
        margin-left: auto;
        cursor: pointer;
    }
}

@media (width <= 80em) {
    body{
        margin-inline: 32px;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 16px;

        & input{
            width: 100%;
        }
        
        & button{
            width: 100%;
        }
    }
}